h1 {
	font-family: "Bad Script", sans-serif;
	font-weight: bold;
	font-size: 36px;
	clear: right;
}

h2 {
	font-family: "Bad Script", sans-serif;
}

h3 {
	font-family: "Bad Script", sans-serif;
}

h4 {
	font-family: Garamond, serif;
}


p {
	font-family: Garamond, serif;
	font-size: 20px;
}

#main {
	float: right;
	margin: 0 30px 0 50px;
}

.thumbnail {
	width: 40px;
	height: 40px;
	margin: 10px 10px 10px 10px;
}